@model entity_cutproj.ViewModel.custViewModel
    @using entity_cutproj.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entercustomer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Submit", "Customer", FormMethod.Post))
        {
            <i>Customer Name</i> @Html.TextBoxFor(m => m.customerobj.custname) <br />
            @Html.ValidationMessageFor(x => x.customerobj.custname)<br />
            <i> Customer Code </i> @Html.TextBoxFor(m => m.customerobj.custcode)<br />
            @Html.ValidationMessageFor(x => x.customerobj.custcode)<br />
            <input id="Submit1" type="submit" value="submit" />
        }
    <table>
        <tr>
            <td>CustID</td>
            <td>CustName</td>
        </tr>
        @foreach (customer c1 in Model.customers)
        {
            <tr>
                <td>@c1.custcode</td>
                <td>@c1.custname</td>
            </tr>

        }
    </table>
        




            </div>
</body>
</html>
